<div class="mdl-layout--fixed-header mdl-layout mdl-js-layout" style="min-width: 20em;">
    <dropbox-upload *ngIf="isDropboxExpanded" (collapsed)="invertDropboxFlag()">
    </dropbox-upload>

    <header *ngIf="!isDropboxExpanded"
        class="mdl-layout__header mdl-layout__header--fixed-header">
        <!-- Top row, always visible -->
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">{{_projectService.selectedProject.projectName}}</span>
            <div class="mdl-layout-spacer"></div>
            <button (click)="invertDropboxFlag()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--fab mdl-shadow--2dp mdl-button--accent">
                <i class="material-icons">add</i>
            </button>
        </div>
        <div class="mdl-layout__header-row">
            Files:
        </div>
    </header>
    <main *ngIf="!isDropboxExpanded" class="mdl-layout__content">
        <div class="page-content">
            <ul class="mdl-list">
                <span *ngFor='#file of files'>
                    <li class="mdl-list__item mdl-list__item--two-line"
                        [class.selected]="isSelectedFile(file)">

                        <span (click)="onSelect(file)" class="mdl-list__item-primary-content">
                            <button (click)="previewFile(file)"
                                    class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                <i class="material-icons">work</i>
                            </button>
                            <span>
                                {{file.name}}
                            </span>
                            <span class="mdl-list__item-sub-title">
                            </span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <button (click)="deleteFile(file)"
                                    class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                <i class="material-icons">delete forever</i>
                            </button>
                            <span class="mdl-list__item-secondary-info">
                                {{file.serverName}}
                            </span>
                        </span>
                    </li>
                    <file-info *ngIf="isSelectedFile(file)"></file-info>
                </span>
            </ul>
        </div>
    </main>
</div>
