<div  class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">File info</h2>
    </div>
    <!--
    {"uniqueName":"0_10.json","nameForUser":"0_10.json","isActive":"true","fields":[{"fieldName":"x","fieldId":"x"},{"fieldName":"y","fieldId":"y"}],"uploadingDate":"Wed Apr 20 18:25:28 MSK 2016"}
    -->
    <div *ngIf="!isEmpty()" class="mdl-card__supporting-text">
        Name: {{fileInfo.nameForUser | uppercase}} <br/>
        Id: {{fileInfo.uniqueName}}
        isActive: {{fileInfo.isActive}}
        uploadingDate: {{fileInfo.uploadingDate}}
        <ul>
            <h3>Fields</h3>
            <li *ngFor="#prop of fileInfo.fields">
                Field name: {{prop}} = {{fileinfo.fields[prop].fieldName}}
                field id : {{prop}} = {{fileinfo.fields[prop].fieldId}}
            </li>
        </ul>
    </div>
    <div *ngIf="isEmpty()" class="mdl-card__supporting-text">
        File not selected
    </div>
</div>
