<div style="display: inline-block; width: 70%; background: lightblue;">
    <h3>Project info</h3>
     <div *ngIf="!isEmpty()">
      <h2>
        Name: {{selectedProject.projectName | uppercase}} <br/>
        Id: {{selectedProject.projectId}}
      </h2>
     <button (click)="gotoProject(selectedProject)">Open project</button>
     <!--<a [routerLink]="['WorkProject', { 'id' : selectedProject.id }]">to project</a>-->
     <ul>
        <h2>Properties</h2>
        <li *ngFor="#prop of getProps(selectedProject)">
            {{prop}} = {{selectedProject[prop]}}
        </li>
     </ul>
    </div>
    <div *ngIf="isEmpty()">
        <h1>Project not selected</h1>
    </div>
</div>
