<div  class="mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
     <h2 class="mdl-card__title-text">Project info</h2>
  </div>
  <div *ngIf="!isEmpty()" class="mdl-card__supporting-text">
    Name: {{selectedProject.projectName | uppercase}} <br/>
    Id: {{selectedProject.projectId}}
    <ul>
       <h3>Properties</h3>
       <li *ngFor="#prop of getProps(selectedProject)">
           {{prop}} = {{selectedProject[prop]}}
       </li>
    </ul>
  </div>
  <div *ngIf="isEmpty()" class="mdl-card__supporting-text">
      Project not selected
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <button (click)="gotoProject(selectedProject)"
            class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
            [disabled]="isEmpty()">
      Open project
    </button>
  </div>
</div>
