<br/>
<table>
    <tr>
        <td>
            Type of return value
            <a onclick="window.open('/help', '_blank', 'width=500, height=500');"
               style="cursor: pointer;">
              (?)
            </a>
        </td>
        <td rowspan="2">
            <button (click)="runScript()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                    style="width: 18em;">
                Run script
            </button>
        </td>
    </tr>
    <tr>
        <td>
          <div>
            <button *ngFor="#returnType of _workspaceService.returnTypes"
                    [style.display]="(isSelectExpanded || (returnType == _workspaceService.session.returnType)) ? 'list-item' : 'none'"
                    (click)="setReturnType(returnType)"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                    style="width: 18em; z-index: 5;">
                {{returnType}}
                <p style="position: relative; right: -1em;"
                   [style.display]="(returnType == _workspaceService.session.returnType) ? 'inline' : 'none'">
                  <i class="material-icons" style="font-size: 2.5em;">
                     {{!isSelectExpanded ? "expand_more" : "expand_less"}}
                  </i>
                </p>
            </button>
          </div>
        </td>
    </tr>
</table>
<div id="editor" class="mdl-shadow--2dp" style="font-size: 1.3em; min-height: 48em;"></div>
