<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header tab-panel" style="box-shadow: 0 0 0 0;">
        <div class="mdl-layout__header-row">
        <nav class="mdl-navigation" style="width: 100%;">
            <a class="mdl-navigation__link workarea-tab" [routerLink]="['Plot']" style="width: 100%;">Workspace</a>
            <a class="mdl-navigation__link workarea-tab" [routerLink]="['REdit']" style="width: 100%;">Edit R script</a>
        </nav>
      </div>
      </header>
      <main class="mdl-layout__content">
          <div class="page-content">
              <router-outlet></router-outlet>
          </div>
      </main>
   </div>
