<div *ngIf="project">
    <h3>"{{project.projectName}}" Project</h3>
    <files-list></files-list>
    <div>
        <svg id="svgVisualize" [style.width]="svgSize" [style.height]="svgSize" style="border:1px solid Red;">
        </svg>
        <div>
            <select id="functionSelect">
                <option *ngFor="#function of availableFunctions" [value]="function.func">
                    {{function.name}}
                </option>
            </select>
            <input (click)="applyFunction()" type="button" value="Apply">
            <br />
            <input type="text" size="21" readonly id="functionResult" value="">
        </div>
    </div>
</div>
