language: java
after_success:
  - bash <(curl -s https://codecov.io/bash)
  - mvn jacoco:report coveralls:report
  - bash <(curl --data-binary @codecov.yml https://codecov.io/validate)
notifications:
  slack: analyzeme:2nmw8U7mQ58mlNHlWnsqvYXI
