.router-link-active {
  border-bottom: 2px solid white;
}
header.tab-panel {
  /*border-bottom: 2px solid white;*/
}
a.workarea-tab.router-link-active {
  color: black !important;
}
.router-link-active.workarea-tab {
  border-top: 2px solid rgb(46,125,50);
  border-bottom: 0px;
  /*border-top-left-radius: 20px;
  border-top-right-radius: 20px;*/
  background: white;
  opacity: 100;
}
